*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    font-family: Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
}

h1 {
    margin-left: 200px;
    align-self: center;
}

main, footer {
    margin-top: 100px;
    text-align: center;
}