*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: columng;
    font-family: Geneva, Tahoma, sans-serif;
    align-items: center;
}

header {
    display: flex;
}

h1 {
    margin-left: 200px;
    align-self: center;
}

main, footer {
    text-align: center;
}

footer {
    justify-content: center;
    width: 75vh;
}